body {
    margin: 50px 150px;
    background-color: whitesmoke;  
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    }

.container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto auto auto auto auto;
column-gap: 150px;
row-gap: 30px;
}

.grid-item1 {
    grid-column: 1;
    grid-row: 1;
}
#iconsPerso{
    list-style-type: none;
}
.icons{
    display: inline-flex;
    padding-left: 150px;
    font-size: 30px;
    margin-top: -15%;

}
a{
    padding: 20px;
    color: #315659;
}
a:hover{
    color: #2E0014;
}
.grid-item2 {
    margin-top: 5%;
    margin-left: -30%;
    grid-column: 2;
    grid-row: 1;
}
.grid-item3 {
    grid-column: 1;
    grid-row: 3;
}

.grid-item4 {
    grid-column: 2;
    grid-row: 3 / span 5;
}

.grid-item5 {
    grid-column: 1;
    grid-row: 4;
}

.grid-item6 {
    grid-column: 1;
    grid-row: 5;
}

.grid-item7 {
    grid-column: 1;
    grid-row: 6;
    }

.grid-item8 {
    grid-column: 1;
    grid-row: 7;
}
.grid-item9 {
    grid-column: 1/span2;
    grid-row: 2;
    background-color: #315659;
    color: antiquewhite;
    margin-right: 150px;
}
img {
    width: 60%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    border-color: #315659;
    border-style: ridge;
    padding-left: 40px;
    border-radius: 5%;
}
h3{
    padding-left: 60px;
}
p{
    margin-top: -20px;
    padding-left: 60px;
    font-size: 20px;
}
h4{
    padding-left: 60px;
}
li{
    margin-left: 60px;
}
.grid-item9>h2{
    border-style: none;
}

